
/* ===================================== 菜单栏 ===================================== */



/*粘贴并转到置顶 Paste and Go Stick on Top*/
.textbox-contextmenu
menuitem:not([anonid="paste-and-go"]), .textbox-contextmenu menuseparator {
    order: 2 !important;
}

menuitem[anonid="paste-and-go"] {
    order: 1 !important;
}

.searchbar-textbox menuitem[anonid="paste-and-search"]:not([disabled="true"]) {
    order: 0 !important;
}

#context-pasteandgo-forms:not([disabled="true"]) {
    order: 0 !important;
}


/*搜索栏右键粘贴并转到置顶*/

#searchbar menuitem:not(.searchbar-paste-and-search),
#searchbar menuseparator {
    order: 2 !important;
}

#searchbar menuitem.searchbar-paste-and-search {
    order: 1 !important;
}


/*隐藏标签右键菜单 Hide tabs menu option*/

#addMenu-tab-insertpoint,
.share-tab-url-item,
#context_shareTabURL,
#context_selectAllTabs {
    display: none;
}

/*标签页右键菜单排序 Tabs Option Order*/
/*#context_bookmarkTab, #context_bookmarkSelectedTabs {
  order: 99 !important;}
*/


/*文字选中菜单排序 Text Selection Menu Order*/

#context-sep-undo, #addmenu_context-copy {
    order: 1 !important;
}


#context-cut, #context-delete {
    order: 2 !important;
}

#context-paste,
#context-paste-no-formatting,
#context-pasteandgo-forms {
    order: 3 !important;
}

#context-keywordfield {
    order: 4 !important;
}

#context-viewpartialsource-selection {
    order: 5 !important;
}

#context-inspect {
    order: 6 !important;
}


/*页面右键菜单排序 Page Menu Order*/
#OpenLinkInTab_New,
#context-openlinkintab,
#context-savelink,
#context-copy,
#context-searchselect,
#_5dd73bb9-e728-4d1e-990b-c77d8e03670f_-menuitem-_selection,
#_4853d046-c5a3-436b-bc36-220fd935ee1d_-menuitem-_RootMenu,
#context-back,
#context-forward,
#context-reload,
#context-stop,
#context-bookmarkpage {
    order: -2 !important;
}


#context-viewimage,
#context-saveimage,
#context-media-eme-separator,
#context-media-playbackrate,
#_3923146e-98cb-472b-9c13-f6849d34d6b8_-menuitem-_selection {
    order: -1 !important;
}


#url2clipboard_asamuzak_jp-menuitem-_copyLinkURL {
    order: 0 !important;
}


#context-sep-sendlinktodevice,
#_5dd73bb9-e728-4d1e-990b-c77d8e03670f_-menuitem-_page,
#_5dd73bb9-e728-4d1e-990b-c77d8e03670f_-menuitem-_link,
#_5dd73bb9-e728-4d1e-990b-c77d8e03670f_-menuitem-_image,
[id*="_3923146e-98cb-472b-9c13-f6849d34d6b8_-menuitem-"] {
    order: 1 !important;
}


[id*="_c23d8eea-4e71-4573-a245-4c97f8e1a1e0_-menuitem-"],
#_72d92df5-2aa0-4b06-b807-aa21767545cd_-menuitem-_save-in-_-_-root,
[id*="url2clipboard_asamuzak_jp-menuitem-_copyPageURL"] {
    order: 2 !important;
}

#firefox_tampermonkey_net-menuitem-_root {
    order: 3 !important;
}


#saladict_crimx_com-menuitem-_saladict_container {
    order: 4 !important;
}

#_5efceaa7-f3a2-4e59-a54b-85319448e305_-menuitem-_toggleTranslatePage,
[id*="_386a2b8d-c7a2-457d-9882-983f17a4ad77_-menuitem-"],
#_036a55b4-5e72-4d05-a06c-cba2dfcc134a_-menuitem-_translate-selected-text,
#_036a55b4-5e72-4d05-a06c-cba2dfcc134a_-menuitem-_translate-web-page {
    order: 5 !important;
}

#_446900e4-71c2-419f-a6a7-df9c091e268b_-menuitem-_root,
#firelomo_firefox_7sdre_am-menuitem-_FIRELOMO_MENU_ID_SEND_TO_FLOMO,
#context-sep-screenshots,
#context-viewpartialsource-selection,
[id*="_b5a7d8f9-7631-4c8b-8fa0-fd03a9d281f6_-menuitem-"],
#context-sep-open {
    order: 6 !important;
}


#_5dd73bb9-e728-4d1e-990b-c77d8e03670f_-menuitem-_add_engine,
[id*="_cd7e22de-2e34-40f0-aeff-cec824cbccac_-menuitem-"] {
    order: 8 !important;
}

#context-viewsource {
    order: 10 !important;
}


/*IDM、NDM 排在最后面*/
[id*="mozilla_cc3_internetdownloadmanager_com-menuitem-"],
[id*="_64d3e6d6-8a71-4443-b60b-a9b12ff1ec14_-menuitem-"] {
    order: 99 !important;
}


/*隐藏页面右键菜单 Hide Page menu option*/
#context-stripOnShareLink,
#context-sep-selectall,
#spell-suggestions-separator,
#context-sep-bidi,
#context-bookmarkpage,
#context-sep,
/*#side-view_mozilla_org-menuitem-_open-in-sidebar,*/
#context-redo,
#context-navigation,
#context-sep-navigation,
#context-sep-setbackground,
#frame-sep,
#context-take-screenshot,
#context-print-selection,
#context-inspect-a11y,
#tabContextMenu #_cd7e22de-2e34-40f0-aeff-cec824cbccac_-menuitem-_inmypocket-add-item,
#tabContextMenu [id*="_cd7e22de-2e34-40f0-aeff-cec824cbccac_-menuitem-"],
#context-pocket,
#context-savepage,
#context-selectall,
    /*#inspect-separator,*/
#context-sep-viewbgimage,
#fill-login,
#context-keywordfield,
#context-media-eme-learnmore + menuseparator,
    /*#context-sep-selectall,*/
#context-sendaudio,
#context-sep-sendlinktodevice,
    /*#context-inspect,*/
#context-viewinfo {
    display: none !important;
}


/* 隐藏“发送到设备” Hide sent to device option*/
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice {
    display: none !important;
}


/* 隐藏链接右键菜单 Hidn link menu option*/
#context-openlinkincurrent,
#context-openlinkprivate,
#context-openlink,
#context-bookmarklink,
#context-navigation,
#screenshots_mozilla_org-menuitem-_create-screenshot,
#context-viewbgimage,
#context-sep-viewsource,
#context-sep-navigation {
    display: none !important;
}


/* 未显示的分割线自动隐藏 */
#context-navigation[hidden="true"] + #context-sep-navigation, #context-openlinkprivate[hidden="true"] + menuseparator, #context-sendlinktodevice[hidden="true"] + #context-sep-sendlinktodevice, #manage-saved-logins[hidden="true"] + #passwordmgr-items-separator {
    display: none
}


/*隐藏输入框右键 Hide Text area option*/
#spell-check-enabled,
#context-sep-redo,
#spell-separator,
#spell-add-dictionaries-main,
#context-sep-undo,
#spell-dictionaries {
    display: none;
}


/*隐藏图像右键菜单 Hide Image menu option*/
#context-sendimage,
#context-setDesktopBackground {
    display: none;
}


/*隐藏HTML5视频右键菜单 Hide video menu option*/
#context-media-pause,
#context-media-mute,
#context-media-unmute,
#context-media-hidecontrols,
#context-sendvideo,
#context-media-loop {
    display: none;
}


/*隐藏书签右键菜单 Hide Bookmark Menu Option*/
[id="placesContext_open:newwindow"],
/*[id="placesContext_openContainer:tabs"],*/
[id="placesContext_open:newprivatewindow"] {
    display: none;
}


/*隐藏地址栏页面动作*/
#pageAction-urlbar-_db722c0c-d10e-4e23-af56-bbb6c3b62cc5_,
#pageAction-urlbar-side-view_mozilla_org,
#pageAction-panel-_cd7e22de-2e34-40f0-aeff-cec824cbccac_ {
    display: none;
}


/*扩展右键菜单隐藏*/

#_1a80c9a2-91e3-40a6-a259-140fc46151be_-menuitem-_toggle {
    display: none;
}


/** 程序菜单 Panel - Icons ============================================================================= */
:root {
    --arrowpanel-menublank-padding: calc(var(--arrowpanel-menuicon-padding) * 2 + 8px) !important;
    --arrowpanel-menuimageblank-padding: calc(var(--arrowpanel-menuitem-padding) - 2px) !important;
}

.subviewbutton > .toolbarbutton-icon {
    width: 16px;
}

#downloadsHistory .button-text,
.subviewbutton > .toolbarbutton-text {
    padding-inline-start: calc(var(--arrowpanel-menuicon-padding) - 3px) !important;
}

.toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-text {
    padding-inline-start: 0 !important;
}

#panelMenu_bookmarksMenu .subviewbutton[disabled=true] .toolbarbutton-text,
#appMenu_historyMenu .subviewbutton[disabled=true] .toolbarbutton-text {
    padding-inline-start: var(--arrowpanel-menublank-padding) !important;
}

#appMenu-proton-update-banner .toolbarbutton-text {
    margin-inline-start: 0 !important;
}

#appMenu-multiView .subviewbutton::before,
#appMenu-proton-update-banner::before {
    display: -moz-inline-box;
    margin-inline-end: var(--arrowpanel-menuicon-padding);
    width: 16px !important;
    height: 16px !important;
}

#appMenu-proton-update-banner {
    margin-bottom: 2px !important;
}

#appMenu-proton-update-banner::before {
    margin-inline-start: var(--arrowpanel-menuitem-padding) !important;
}


#appMenu-zoom-controls2::before {
    margin-inline-end: 4px !important;
}

/* Icons Color */
#appMenu-multiView .subviewbutton::before,
#appMenu-proton-update-banner::before,
#downloadsHistory .button-icon,
.subviewbutton > image {
    fill: currentColor !important;
    fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
    -moz-context-properties: fill !important;
}

#appMenu-zoomReduce-button2 > .toolbarbutton-icon,
#appMenu-zoomEnlarge-button2 > .toolbarbutton-icon {
    stroke: var(--zoom-controls-bgcolor, var(--button-bgcolor, ButtonFace)) !important;
    -moz-context-properties: fill, stroke !important;
}

#appMenu-zoomReduce-button2:not([disabled], [open], :active):is(:hover) > .toolbarbutton-icon, #appMenu-zoomEnlarge-button2:not([disabled], [open], :active):is(:hover) > .toolbarbutton-icon {
    stroke: var(--button-hover-bgcolor) !important;
}

.subviewbutton[disabled=true] > image {
    /* Ghost icons when disabled */
    opacity: 0.4;
}


/* 菜单高度调整  */
#sidebarMenu-popup menuitem,
#allTabsMenu-allTabsView .subviewbutton,
#appMenu-multiView .subviewbutton {
    height: 30px !important;
}


/*= 程序菜单图标 Panel - Main ===========================================================*/

/* 参考代码 source form:  https://github.com/black7375/Firefox-UI-Fix */

#appMenu-popup .toolbarbutton-icon {
    margin-right: 4px !important;
}

#appMenu-proton-addon-banners > .addon-banner-item > .toolbarbutton-icon {
    display: -moz-inline-box !important;
    margin-inline-start: var(--arrowpanel-menuicon-padding);
    order: 0 !important;
}

#appMenu-fxa-status2:is([fxastatus=signedin], [fxastatus=unverified], [fxastatus=login-failed])::before {
    display: none;
}

#appMenu-fxa-status2:is([fxastatus=signedin], [fxastatus=unverified], [fxastatus=login-failed]) #appMenu-fxa-label2::before {
    /* url("https://profile.accounts.firefox.com/v1/avatar/a") */
    content: '';
    border-radius: 50% !important;
    background-size: 16px !important;
    background-image: var(--avatar-image-url) !important;
}

#appMenu-report-broken-site-button,
#appMenu_help_reportSiteIssue {
    display: none !important;
}

#appMenu-zoom-controls .toolbarbutton-text {
    margin-left: -4px !important;
}


/*= 程序菜单 - 用户帐号 Panel - Account ========================================================*/


/* Default */
#fxa-menu-avatar {
    display: -moz-inline-box !important;
    margin-inline-end: var(--arrowpanel-menuicon-padding);
}


#PanelUI-fxa-menu-connect-device-button .toolbarbutton-icon,
#PanelUI-fxa-menu-account-signout-button .toolbarbutton-icon {
    width: 16px !important;
    height: 16px !important;
}


.PanelUI-remotetabs-notabsforclient-label {
    margin-inline-start: calc(var(--arrowpanel-menuicon-padding) + var(--arrowpanel-menuitem-padding)) !important;
    padding-inline-start: var(--arrowpanel-menublank-padding) !important;
}


#PanelUI-sign-out-separator {
    display: none;
}


#appmenu-developer-tools {
    margin-left: 32px !important;
}



/*= 下载面板 Panel - Downloads ======================================================*/


#downloadsHistory .box-inherit.button-box {
    display: -moz-inline-box !important;
}


/*= 标签栏面板 Tabbar - All Tab Menu ==================================================*/



/** 右键菜单图标 Context Menu - Icons ============================================================================= */

menupopup menuitem:not([type="checkbox"]),
menupopup menu:not([type="checkbox"]) {
    -moz-appearance: none !important; /* Linux: menulist */
}

/* Icon */
:not(menu, #ContentSelectDropdown) > menupopup > menuitem:not(.menuitem-iconic, [type="checkbox"], .in-menulist),
:not(menu, #ContentSelectDropdown) > menupopup > menu:not(.menu-iconic, [type="checkbox"], .in-menulist),
#blockedPopupDontShowMessage {
    /* Color */
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;

    /* Layout */
    background-size: 16px !important;
    background-repeat: no-repeat !important;
    background-image: var(--menuitem-image);
}


/* For native context menus on macOS */
@supports -moz-bool-pref("widget.macos.native-context-menus") {
    :not(menu, #ContentSelectDropdown) > menupopup > menuitem:not(.menuitem-iconic, [type="checkbox"], .in-menulist),
    :not(menu, #ContentSelectDropdown) > menupopup > menu:not(.menu-iconic, [type="checkbox"], .in-menulist) {
        list-style-image: var(--menuitem-image) !important;
    }
}

/* Padding Windows */
:root {
    --context-menu-background-padding-default: 10px;
    --context-menu-background-padding: var(--context-menu-background-padding-default);
}

:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem,
:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu,
#blockedPopupDontShowMessage {
    background-position: left var(--context-menu-background-padding) center !important;
    padding-inline-start: var(--context-menu-background-padding) !important;
}

/* Padding */
:root {
    --menu-padding: 0em;
    --context-menu-background-padding: 0.8em;
    --context-menu-text-padding-default: 24px;
    --context-menu-text-padding: calc(var(--menu-padding) + var(--context-menu-background-padding-default) + 16px);
}

:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem:not(.menuitem-iconic, [type="checkbox"], .in-menulist),
:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu:not(.menu-iconic, [type="checkbox"], .in-menulist),
#blockedPopupDontShowMessage {
    padding-inline-start: calc(var(--context-menu-background-padding) + var(--context-menu-text-padding)) !important;
}

/* Checkbox */
:not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem[type="checkbox"][checked="false"] > .menu-iconic-left {
    padding-inline-start: var(--context-menu-text-padding);
}


/* Padding Mac */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
    :root {
        --context-menu-background-padding-default: 10px;
        --context-menu-mac-padding: 21px;
    }

    /* context menu width */
    :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem:not(.menuitem-iconic, [type="checkbox"], .in-menulist),
    :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu:not(.menu-iconic, [type="checkbox"], .in-menulist),
    #blockedPopupDontShowMessage {
        padding-inline-end: var(--context-menu-background-padding) !important;

    }

    /* text position */
    :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem > .menu-text {
        padding-inline-start: var(--context-menu-mac-padding) !important;
        margin-left: 5px !important;
    }

    :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu > .menu-text {
        margin: 5px !important;
    }

    /* Checkbox menuitem, None iconic menu */
    :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menuitem[type="checkbox"],
    :not(menu, #ContentSelectDropdown, #context-navigation) > menupopup > menu:not(.menu-iconic) {
        padding-inline-start: calc(var(--context-menu-background-padding) + var(--context-menu-mac-padding)) !important;
    }
}

#context-openlinkprivate {
     --menuitem-image: url(chrome://browser/skin/privateBrowsing.svg);
 }


/* 画中画图标调整 */
#context-video-pictureinpicture { /* checkbox */
    /* --menuitem-image: url(chrome://global/skin/media/picture-in-picture-open.svg); */
    margin-left: -21px;
    display: none;
}

#context-media-sep-video-commands {
    display: none;
}

#menu_undo, #menu_cut, #menu_copy, #menu_paste, #menu_delete {
    background-image: none !important;
}

/*右键菜单黑夜模式反转 ============================================================*/

/*恢复关闭标签页菜单图标反转*/
@media (prefers-color-scheme: dark) {
    #glitterdrag_ililu-BAP .toolbarbutton-badge-stack .toolbarbutton-icon,
    #_4d7a31cf-6ff2-4302-af10-6278f5c65462_-menuitem-_add-to-sidebar-note .menu-iconic-left,
    #_72d92df5-2aa0-4b06-b807-aa21767545cd_-menuitem-_save-in-root .menu-iconic-left,
    #_4853d046-c5a3-436b-bc36-220fd935ee1d_-menuitem-_RootMenu [src*=".svg"] {
        filter: invert(1);
    !important;
    }
}


/*下载界面最大宽度*/
#downloadsPanel #downloadsListBox {
    max-width: 600px !important;
}


/*右键菜单最大宽度*/
#contentAreaContextMenu,
#contentAreaContextMenu menupopup {
    max-width: 280px !important;
}


/*恢复关闭标签页最大宽度*/
[id*="_4853d046-c5a3-436b-bc36-220fd935ee1d_-menuitem-_"] {
    max-width: 450px !important
}


/*其他书签最大宽度*/
#OtherBookmarksPopup .bookmark-item {
    max-width: 300px !important
}


/*其他 ============================================================*/

#context-viewsource-wrapLongLines,
#context-viewsource-highlightSyntax {
    margin-left: -1px !important;
}

#allTabsMenu-allTabsView {
    max-width: 350px !important;
}

/*拓展管理器图标大小*/
#unified-extensions-manage-extensions {
    list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}

#unified-extensions-panel .unified-extensions-item .toolbarbutton-icon,
#unified-extensions-panel .unified-extensions-list .unified-extensions-item-icon {
    height: 16px !important;
    width: 16px !important;
}

#unified-extensions-panel .unified-extensions-item-menu-button {
    height: 28px !important;
}

#unified-extensions-view {
    /*min-height: 500px;*/
    max-height: calc(100vh - 300px);
}

#unified-extensions-panel .panel-subview-footer-button {
    min-height: 36px !important;
}

#unified-extensions-panel .panel-subview-footer-button .toolbarbutton-text {
    margin-left: 7px !important;
}

#unified-extensions-panel .unified-extensions-item-action-button {
    padding: 6px 4px !important;
}

#unified-extensions-panel .unified-extensions-item-message {
    display: none !important;
}

/* 修复 menu 选中 */
menupopup > menuitem:is([checked="true"], [selected="true"]) .menu-iconic-icon {
    list-style-image: url("../icons/menu-check.svg") !important;

    @media (-moz-platform: linux) {
        list-style-image: none !important;
    }
}