
/* -------------------------- 彩虹标签页--------------------------- */

/* 去除标签页阴影*/
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]),
#TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected=true], [multiselected]) > .tab-stack > .tab-background[selected],
#TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected=true], [multiselected]) > .tab-stack > .tab-background[multiselected],
:root[lwthemetextcolor="dark"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected=true], [multiselected]) > .tab-stack > .tab-background[selected],
:root[lwthemetextcolor="dark"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected=true], [multiselected]) > .tab-stack > .tab-background[multiselected] {
    box-shadow: none !important;
}

/* 选中标签颜色 */
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] .tabbrowser-tab:is([selected]) {
    color: #ffffff !important;
}


/* 选中标签边框 */

.tab-background:is([selected], [multiselected]) {
    outline: 0px solid var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
    border: 1px solid var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
    border-bottom: 0px !important;
}

:root:is(:not([lwtheme]), :not(:-moz-lwtheme)) .tab-background:is([selected], [multiselected]),
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] .tab-background:is([selected], 
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] [multiselected]) {
    border: 0px !important;
}


/* 魅力蓝 Blue */
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected]) {
    -moz-border-image: none !important;
    background: -moz-linear-gradient(left, #00c0f1, #0080e2) !important;
    /*background: -moz-linear-gradient(left, #4BB3F9, #3071F7) !important;*/
    --lwt-header-image: none !important;
}


/*森林绿 Green*/
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected]:-moz-any(
[image*="siv/TLIr/0yyK/9Msiv/TLIr/0yyK/9Msiv/TLIr/0yyK/9Msiv/T"],/*feedly*/
[image*="GgoAAAANSUhEUgAAAEgAAABICAMAAABiM0N1AAABtlBMVEUAAAAMxWQIwmIJw2MHwWEHwmEIw"],/*weixin*/
[image*="YAG4EEAAAAAAAAAAAAAAEEAAHKZgAmC2pAP8tqAD/LagA/y2oAP8t"],/*evernote*/
[image*="iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAC91BMVEUAAAAFvQAFvQAFvQAH3QA"],/*iqiyi*/
[image*="xcARqEAL0ahAJRGoQDWRqEA9kahAPlGoQDYRqEAlkahADFOixcATosXAE6LFwBOix"],/*360*/
[image*="EXcA/xF3AP8RdwD/EXcA/xF3AP8RdwD/EXcA/xF3AP8"],/*douban*/
[image*="IMbOsWQxWikcvPRVFqKaKyQhejKcipfRUPPQUiAcpHrx5kSL1IK0HXQ2SKqXUSo/VHkREZFNjM7O"]/*weichat*/)
.tab-background:is([selected], [multiselected]) {
    background: -moz-linear-gradient(left, #68d045, #22ae02) !important;
}

/*活力橙 Orange*/
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected]:-moz-any(
[image*="AODAAADwwAAA/8EAAP/DAAD//wAA"],/*weibo*/
[image*="//wPgf/4H8B/4D/gH4B/8AAA//wAA///AA/8="],/*sogou*/
[image*="EHEAAAABAAAADwAAgH8AAA=="],/*hunantv*/
[image*="HwAAAABgB///AAAAAEAP/8MAAH//wA//AAAAf/+AH/8AgA"]/*taobao*/)
.tab-background:is([selected], [multiselected]) {
    background: -moz-linear-gradient(left, #ffc43d, #ff5a15) !important;
}


/*热情红 Red*/
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected]:-moz-any(
[image*="iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQ"],/*youtube*/
[image*="AADiRw8P8Y8PAPgfDw///wAA"],/*163*/
[image*="AD/gAAB/8AAA//wAA///AA/8="],/*163music*/
[image*="AAABAAkAMDAQAAEABABoBgAAlgAAACAg"],/*jd*/
[image*="QLIAEMAAOjFAc5l/ExwAAAAAElFTkSuQmCC"],/*tmall*/
[image*="BpcAvNM8U1IpUANcAAAAASUVORK5CYII="],/*quora*/
[image*="AAABAAEAICAAAAEAIACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAA"],/*hupu*/
[image*="z9f8FV5lSOT6VjY8AAAAASUVORK5CYII="]/*pintereste*/)
.tab-background:is([selected], [multiselected]) {
    background: -moz-linear-gradient(left, #fb7e62, #dc1500) !important;
}

/*可爱粉 Pink*/

:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected]:-moz-any(
[image*="fgH/gP8B/4H/gf+D/8H/////8="],/*bilibili*/
[image*="AAABAAQAQEAAAAEAIAAoQAAARgAA"],/*dribbble*/
[image*="D6AS9PFwSRG3qkAAAAAElFTkSuQmCC"]/*meilishuo*/)
.tab-background:is([selected], [multiselected]) {
    background: -moz-linear-gradient(left, #e842c5, #e951b6) !important;
}


/*热情红 Red*/
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected]:-moz-any(
[image*="iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQ"],/*youtube*/
[image*="AADiRw8P8Y8PAPgfDw///wAA"],/*163*/
[image*="AD/gAAB/8AAA//wAA///AA/8="],/*163music*/
[image*="AAABAAkAMDAQAAEABABoBgAAlgAAACAg"],/*jd*/
[image*="QLIAEMAAOjFAc5l/ExwAAAAAElFTkSuQmCC"],/*tmall*/
[image*="BpcAvNM8U1IpUANcAAAAASUVORK5CYII="],/*quora*/
[image*="AAABAAEAICAAAAEAIACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAA"],/*hupu*/
[image*="z9f8FV5lSOT6VjY8AAAAASUVORK5CYII="]/*pintereste*/)
.tab-background:is([selected], [multiselected]) {
    background: -moz-linear-gradient(left, #fb7e62, #dc1500) !important;
}


/*高端黑 Black*/
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected]:-moz-any(
[image*="ZNXA473oCuKP75pWY/KosW8v+Z26TLCDkxCwAAAABJRU5ErkJggg=="],/*steampowered*/
[image*="MTEuOTggNy40OCAxMC44NkM3LjMyIDEwLjQ2IDYuNzYgOC44MiA3LjY0IDYuNjJDNy42NCA2LjYyIDguOTg"]/*github*/)
.tab-background:is([selected], [multiselected]) {
    background: -moz-linear-gradient(left, #777777, #333333) !important;
}


/*商务蓝 Facebook Blue*/
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected]:-moz-any(
[image*="AAAAA6nULGOZwBuPlbwT/5W8E/+VvBP/lbwT/5W8E/+VvBP/lbwT/5W8E"]/*facebook*/)
.tab-background:is([selected], [multiselected]) {
    background: -moz-linear-gradient(left, #4761A2, #465F9F) !important;
}

/*基佬紫 pruple*/
/* background: -moz-linear-gradient(left, #b55ef1, #7b40e3) !important;}*/


/*香槟金 Champagne*/
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected]:-moz-any(
[image*="BoBAAANgAAACAgAAABACAAqBAAAJ4EAABAQAAAAQAgAChCAABGFQAAKAAAABAAAAAgAAAAAQAgAAAAAAAABAAAAAAAAAA/"],/*apple*/
/*[image*="0RjkzMTFFOTgxNDg5QzQzMzc2NDQxQTAiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUFDRkFCMDI0RjkzMTFFOTgxND"]*/ /*huawei*/)
.tab-background:is([selected], [multiselected]) {
    background: -moz-linear-gradient(left, #e8d7a2, #ceaa4e) !important;
}


/*宝石蓝 Jewel Blue*/
:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"] #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected]:-moz-any(
[image*="qFkYOqNQC0WlVROP3Lug6Pr18vLOoHrfr2cqe6tfHzcAAAAAAAAAAKFMB"],/*runningcheese*/
[image*="AIAAAAAAAAABgAAAAAAAAAHAAAAAAAAAA+AAAAAAAAAH+AAAAAAAAB8="]/*baidu*/)
.tab-background:is([selected], [multiselected]) {
    background: -moz-linear-gradient(left, #398fed, #2256e2) !important;
}

/*深邃模式*/
:root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"] #TabsToolbar #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab .tab-background:is([selected], [multiselected]) {
    background: #465467 !important;
}


/*为空白标签加上图标 Add icon for blank tabs */
#TabsToolbar .tabbrowser-tab .tab-icon-image:not([src]):not([busy]):not([pending]),
#TabsToolbar .tabbrowser-tab .tab-icon-image:not([src]):not([busy]):not([pending]):not([selected]) {
    display: inline !important;
    list-style-image: url("chrome://global/skin/icons/defaultFavicon.svg") !important;
}


/*隐藏 Firefox View 右侧分割线 */
#tabbrowser-tabs {
    border-inline-start: none !important;
}

